body {
 padding: 20px;
}

.status {
  font-size:24px;
}

.button {
  border-top: 1px solid #ccc;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  border-left: 1px solid #ccc;
  padding: 5px 20px;
  font-weight: bold;
  cursor: pointer;
  color: #666;
  width: 130px;
  height: 50px;
  text-align: center;    
}

.btn-dev {
  font-size: 102px;
  width: 600px;
  height: 280px;
}

.main {
  text-align: center;
}

.debug {
  visibility: hidden;
}
